h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
}
button {
  @apply py-2 px-5;
  border-radius: 8px;
  background-color: var(--secondary);
  color: var(--main-white);
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
