<form [formGroup]="form" autocomplete="off">
  <div class="card mb-8">
    <h1>السجل الوظيفي</h1>
    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-dropdown
          labelText="جهة العمل "
          formControlName="departmentId"
          [options]="departmentsOptions"
          placeholder="اختر جهة العمل"
        >
        </app-dropdown>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الوظيفة"
          formControlName="name"
          placeholder=" أدخل الوظيفة "
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="رقم الوظيفة"
          formControlName="number"
          inputType="number"
          placeholder="أدخل رقم الوظيفة "
        >
        </app-input>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="رمز الوظيفة"
          formControlName="code"
          placeholder="أدخل رمز الوظيفة"
          inputType="number"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="المرتبة "
          formControlName="rank"
          placeholder=" أدخل المرتبة"
          inputType="number"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الدرجة"
          [isRequired]="false"
          formControlName="grade"
          placeholder="أدخل الدرجة"
          inputType="number"
        >
        </app-input>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-date-input
          labelText="تاريخ التعيين"
          formControlName="employmentDate"
          placeholder="اختر تاريخ التعيين"
          id="employmentDate"
        >
        </app-date-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الراتب الأساسي "
          [isRequired]="false"
          formControlName="netSalary"
          placeholder="أدخل الراتب الأساسي"
          inputType="number"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="بدل النقل"
          [isRequired]="false"
          formControlName="transferAllowance"
          placeholder="أدخل بدل النقل"
          inputType="number"
        >
        </app-input>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="إجمالي البدلات الأخرى"
          formControlName="totalOtherAllowances"
          placeholder="أدخل إجمالي البدلات الأخرى"
          inputType="number"
        >
        </app-input>
      </div>
    </div>
    <div class="flex justify-end">
      <button (click)="onSave()" [disabled]="form.invalid">{{editMode?'حفظ':'إضافة'}}</button>
    </div>
    <div class="grid grid-cols-12">
      <div class="flex flex-col col-span-12 2xl:mt-7 md:mt-2">
        <app-list
          [hasBorder]="true"
          [hasPagination]="false"
          [listColumns]="listColumns"
          [pageResult]="pageResult"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          [displayEmptyList]="true"
        ></app-list>
      </div>
    </div>
  </div>
</form>
