<h1>توريد أصناف وأدوية</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="المخزن"
        formControlName="warehouseId"
        [options]="warehouseOptions"
        placeholder="اختر المخزن"
      ></app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="اسم المورد"
        formControlName="traderId"
        [options]="traderOptions"
        placeholder="اختر المورد"

      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-date-input
        labelText="التاريخ"
        formControlName="date"
        placeholder="اختر التاريخ"

      >
      </app-date-input>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-3 card">
  <div class=" col-span-12">
    <p-table
      [value]="[
        { property1: 'Value 1A', property2: 'Value 1B', property3: 'Value 1C' }
      ]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>#</th>
          <th>الأصناف والأدوية</th>
          <th> <span >الكمية  الكمية</span> </th>
          <th> <span >الكمية  الكمية</span></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task formArrayName="Items">
        <tr
          *ngFor="let target of Items.controls; let i = index"
          [formGroupName]="i"
        >
          <td>{{ i + 1 }}</td>
          <td class="min-w-[40%]">
            <app-dropdown
              [options]="getAvailableItems(i)"
              placeholder="اختر الصنف"
              formControlName="itemId"
              (change)="onSelectionChange($event, i)"
              [showLabel]="false"
              [isRequired]="false"
            ></app-dropdown>
          </td>
           <td class="lg:w-[220px] w-fit">
            <app-input
              type="number"
              placeholder="ادخل الكمية"
              formControlName="quantity"
              (keydown)="restrictNagtive($event)"
              [showLabel]="false"
              [isRequired]="false"
            />
          </td>
          <td class="lg:w-[220px] w-fit">
            <app-input
              type="number"
              placeholder="ادخل سعر الوحدة"
              formControlName="pricePerTon"
              (keydown)="restrictNagtive($event)"
              [showLabel]="false"
              [isRequired]="false"
            />
          </td>
          <td>
            <button (click)="deleteRow(i)" class="add">
              <i class="pi pi-minus"></i>
            </button>
            <button
              (click)="addRow()"
              class="add flex items-center"
              [disabled]="
                isCurrentFeedItemRowInvalid() ||
                itemTypes.length == Items.controls.length
              "
            >
              <i class="pi pi-plus"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? "حفظ" : "إضافة" }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="showSuccessDialog = false"
  [message]="successMesg"
  btnText="الرجوع لقائمة المخزن"
  (onSubmitEvent)="backToList()"
></app-success-dialog>
