div {
  h1 {
    @apply xl:text-[24px] lg:text-[20px] text-[16px];
    font-weight: 600;
    color: var(--primary);
    display: block;
  }

  p {
    @apply xl:text-[18px] lg:text-[16px] text-[14px];
    color: var(--main-gray);
    display: block;
  }
}
button {
  @apply py-2 px-5;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--main-white);
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
.left {
  background-image: url("../../../../assets/images/farm.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.right {
  @apply lg:mx-0 mx-10;
  form {
    @apply lg:mt-0 mt-6;
  }
  a {
    @apply xl:text-[18px] lg:text-[16px] text-[14px];
  }
}
.white {
  background-color: var(--main-white);
}

a {
  @apply mt-1;
  all: unset;
  color: var(--secondary);
  cursor: pointer;
  text-align: end;
}

small {
  color: var(--error);
  font-size: 14px;
}
@media (max-width: 1024px) {
  .responsive-class {
    display: none;
  }
}
