<h1>تسجيل بيانات مبيعات البيض</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="المخزن"
        formControlName="warehouseId"
        [options]="warehouseOptions"
        placeholder="اختر المخزن"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
        <app-dropdown
          labelText="اسم المشتري"
          formControlName="traderId"
          [options]="buyersOptions"
          placeholder="اختر المشتري"
        >
        </app-dropdown>
      </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
        <app-input
        labelText="عدد الأطباق"
        placeholder="أدخل عدد الأطباق"
        formControlName="quantity"
        inputType="number"
      ></app-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="نوع البيض"
        formControlName="eggQuality"
        [options]="eggQualityOptions"
        placeholder="اختر نوع البيض"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-input
        labelText="سعر الطبق"
        placeholder="أدخل سعر الطبق"
        formControlName="unitPrice"
        inputType="number"
      ></app-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-date-input
        labelText=" التاريخ "
        formControlName="date"
        placeholder="حدد  التاريخ "
        id="date"
      >
      </app-date-input>
    </div>

    <div class="col-span-12 flex flex-col gap-2">
      <label>ملاحظات</label>
      <textarea
        placeholder="ملاحظات"
        cols="12"
        rows="3"
        formControlName="notes"
      ></textarea>
    </div>
  </div>

  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? "حفظ" : "إضافة" }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض القائمة"
></app-success-dialog>
