h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}
.stepper {
  @apply flex items-center justify-evenly py-3 px-4;
  background-color: var(--main-white);
  .step {
    @apply flex justify-center items-center gap-2 py-6 cursor-pointer;
    border-bottom: 2px solid var(--gray);
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--main-gray);
    &:disabled {
      cursor: not-allowed;
    }
  }
  .active {
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary);
    font-weight: 600;
  }
 
}
.stepper :last-child {
  @apply ml-1;
}
.stepper :first-child {
  @apply mr-1;
}

