<h1>تسجيل بيانات موظف</h1>
<app-bread-crumb [pages]="pages" (mainTitleClicked)="backToList()"></app-bread-crumb>

<div class="stepper mb-6">
  <button
    (click)="onEmployeeDataClicked(0)"
    class="step"
    [ngClass]="currentIndexActive >= 0 ? 'active' : ''"
  >
    <i class="fa-regular fa-user"></i>
    <span> بيانات الموظف</span>
  </button>
  <button
    (click)="onEmploymentRecordClicked(1)"
    class="step"
    [ngClass]="currentIndexActive >= 1 ? 'active' : ''"
    [disabled]="!stepOneCompleted"
  >
    <img
      src="../../../../assets/images/bag.svg"
      alt="bag icon"
      *ngIf="currentIndexActive < 1"
    />
    <img
      src="../../../../assets/images/green bag.svg"
      alt="bag icon"
      *ngIf="currentIndexActive >= 1"
    />
    <span>السجل الوظيفي</span>
  </button>
  <button
    (click)="onQualificationsClicked(2)"
    class="step"
    [ngClass]="currentIndexActive == 2 ? 'active' : ''"
    [disabled]="!stepOneCompleted"
  >
    <img
      src="../../../../assets/images/paper.svg"
      alt="paper icon"
      *ngIf="currentIndexActive != 2"
    />
    <img
      src="../../../../assets/images/green paper.svg"
      alt="paper icon"
      *ngIf="currentIndexActive == 2"
    />
    <span>المؤهلات</span>
  </button>
</div>

<app-employee-data
  *ngIf="currentIndexActive == 0"
  (stepCompleted)="setStatus($event)"
  [currentData]="employmentData"
></app-employee-data>
<app-employment-record *ngIf="currentIndexActive == 1"></app-employment-record>
<app-qualifications *ngIf="currentIndexActive == 2"></app-qualifications>

<div class="flex justify-end gap-4">
  <button
    (click)="moveToNextTap()"
    *ngIf="currentIndexActive !== 2"
    [disabled]="!stepOneCompleted"
    class="btn"
  >
    التالي
  </button>
  <button class="btn" (click)="save()" *ngIf="currentIndexActive === 2">
    {{ editMode ? "حفظ" : "إضافة" }}
  </button>
  <button class="btn outlineBtn" (click)="exit()">إلغاء</button>
</div>

<app-success-dialog
  [visible]="showSuccessDialog"
  [message]="successMsg"
  (onSubmitEvent)="backToList()"
  btnText="عرض الموظفين"
></app-success-dialog>

<app-confirmation-dialog
  [visible]="showWarnrningDialog"
  (onSubmitEvent)="backToList()"
  (exit)="close()"
>
</app-confirmation-dialog>
