<h1>تسجيل بيانات الدورة</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-input
        labelText="اسم الدورة"
        placeholder="أدخل اسم الدورة"
        formControlName="name"
      ></app-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-dropdown
        labelText="العنبر"
        formControlName="roomId"
        [options]="roomOptions"
        placeholder="اختر العنبر"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-date-input
        labelText=" تاريخ بداية الدورة"
        formControlName="startDate"
        placeholder="حدد  تاريخ بداية الدورة "
        id="startDate"
      >
      </app-date-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-date-input
        labelText=" تاريخ نهاية الدورة"
        formControlName="endDate"
        placeholder="حدد تاريخ نهاية الدورة "
        id="endDate"
      >
      </app-date-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-input
        labelText="عدد الفراخ عند البداية"
        placeholder="أدخل عدد الفراخ عند البداية"
        formControlName="chickenCount"
        unit="فرخة"
      ></app-input>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-6 col-span-12">
      <app-input
        labelText="عمر الفراخ عند البداية"
        placeholder="أدخل عمر الفراخ عند البداية"
        formControlName="chickenAge"
        inputType="number"
        unit="يوم"
      ></app-input>
    </div>
  </div>

  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? "حفظ" : "إضافة" }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض الدورات"
></app-success-dialog>
