<h1>  التسجيلات اليومية</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">

    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="المخزن"
        formControlName="warehouseId"
        [options]="warehouseOptions"
        placeholder="اختر المخزن"
      ></app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-dropdown
        labelText="الدورة"
        formControlName="cycleId"
        [options]="cycleOptions"
        placeholder="اختر الدورة"
        [disabled]="true"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-4 xl:col-span-4 lg:col-span-4 col-span-12">
      <app-input
        labelText="عدد النافق اليومي "
        formControlName="deadCount"
        placeholder="حدد عدد النافق اليومي "
        inputType="number"
      >
      </app-input>
    </div>
  </div>

<div class="grid grid-cols-12 gap-3 card">
  <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-12 col-span-12">
    <p-table
      [value]="[
        { property1: 'Value 1A', property2: 'Value 1B', property3: 'Value 1C' }
      ]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>#</th>
          <th>التغذية</th>
          <th> <span >الكمية الكمية  الكمية</span> </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task formArrayName="feedConsumptions">
        <tr
          *ngFor="let target of feedConsumptions.controls; let i = index"
          [formGroupName]="i"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <app-dropdown
              [options]="getAvailablefeedConsumptions(i)"
              placeholder="اختر العلف"
              formControlName="itemId"
              (change)="onSelectionChange($event, i, 'feed')"
              [showLabel]="false"
              [isRequired]="false"
            ></app-dropdown>
          </td>
          <td>
            <app-input
              type="number"
              placeholder="ادخل الكمية (طن) "
              formControlName="quantity"
              (keydown)="restrictNagtive($event)"
              [showLabel]="false"
              [isRequired]="false"
            />
          </td>
          <td>
            <button (click)="deleteRow(i, 'feed')" class="add" [disabled]="feedConsumptions.controls.length<2">
              <i class="pi pi-minus"></i>
            </button>
            <button
              (click)="addRow('feed')"
              class="add flex items-center"
              [disabled]="
                isCurrentFeedItemRowInvalid() ||
                allFeedItemTypes.length == feedConsumptions.controls.length
              "
            >
              <i class="pi pi-plus"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-12 col-span-12">
    <p-table
      [value]="[
        { property1: 'Value 1A', property2: 'Value 1B', property3: 'Value 1C' }
      ]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>#</th>
          <th>الأدوية</th>
          <th> <span >الكمية الكمية  الكمية</span> </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task formArrayName="medicineConsumptions">
        <tr
          *ngFor="let target of medicineConsumptions.controls; let i = index"
          [formGroupName]="i"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <app-dropdown
              [options]="getAvailablemedicineConsumptions(i)"
              placeholder="اختر الأدوية"
              formControlName="itemId"
              (change)="onSelectionChange($event, i, 'medicine')"
              [showLabel]="false"
              [isRequired]="false"
            ></app-dropdown>
          </td>
          <td>
            <app-input
              type="number"
              placeholder="ادخل الكمية"
              formControlName="quantity"
              (keydown)="restrictNagtive($event)"
              [showLabel]="false"
              [isRequired]="false"
            />
          </td>
          <td>
            <button (click)="deleteRow(i, 'medicine')" class="add" [disabled]="medicineConsumptions.controls.length<2">
              <i class="pi pi-minus"></i>
            </button>
            <button
              (click)="addRow('medicine')"
              class="add flex items-center"
              [disabled]="
                isCurrentMedicineItemRowInvalid() ||
                allMedicineItemTypes.length == medicineConsumptions.controls.length
              "
            >
              <i class="pi pi-plus"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? "حفظ" : "إضافة" }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض التسجيل اليومي"
></app-success-dialog>
