h1
{
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
}
button {
  background-color: var(--primary);
  padding: 6px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-white);
}
