<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h1>الموظفين</h1>

    <div class="flex gap-3">
      <app-search
        placeholder="ابحث عن موظف"
        [filterBtn]="true"
        (setSearchValue)="search($event)"
        (filter)="openFilter()"
        [resetSearch]="searchReset"
      ></app-search>
      <button (click)="addNew()">إضافة موظف</button>
    </div>
  </div>

  <app-list
    [listColumns]="columns"
    [pageResult]="pageResult"
    (pageChange)="onPageChanged($event)"
    (edit)="edit($event)"
    (delete)="delete($event)"
    noDataImg="noEmployees.svg"
    noDataMessage="يبدو أنك لم تقم بإضافة أي موظف بعد، سيظهر الموظفون المضافون هنا... يمكنك البدء بإضافة أول موظف"
    addButtonText="إضافة موظف"
    nosearchBtnText="العودة إلى الموظفين"
    [searchMode]="searchMode"
    [filterMode]="filterMode"
    (back)="resetSearch()"
    (add)="addNew()"
    
  ></app-list>  
</div>

<app-confirmation-delete-dialog
  message="هل أنت متأكد أنك تريد حذف الموظف؟ سيتم حذفه نهائيًا من قائمة الموظفين"
  [visible]="showConfirmDeleteDialog"
  (onSubmitEvent)="submitDelete()"
  (exit)="close()"
></app-confirmation-delete-dialog>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  message="تم حذف الموظف بنجاح، يمكنك المتابعة"
  btnText="عرض الموظفين"
></app-success-dialog>

<app-filter
  [visible]="showFilterDialog"
  [departmentsOptions]="departmentsOptions"
  [gradesOptions]="gradesOptions"
  [ranksOptions]="ranksOptions"
  [releasePlacesOptions]="releasePlacesOptions"
  [skipCount]="skipCount"
  [maxResultCount]="maxResultCount"
  (exit)="closeFilter()"
  (filteredData)="setFilterdData($event)"
></app-filter>
