<div class="col-span-12">
  <p-sidebar
    [showCloseIcon]="false"
    [styleClass]="'lg:w-1/6'"
    [(visible)]="sidebarVisible"
    position="right"
    (onHide)="onCloseSidebar()"
    [modal]="false"
  >
    <div class="logoImg mb-4 -mt-4">
      <img
        src="../../../../assets/images/logo.png"
        class="mx-auto"
        alt="logo"
        width="150"
        height="150"
      />
    </div>
    <div class="mt-8">
      <p-panelMenu [model]="sideRoutes"></p-panelMenu>
    </div>
  </p-sidebar>
</div>
