<h1>تسجيل بيانات الموظف</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">

    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-input
        labelText="اسم الموظف"
        placeholder="أدخل اسم الموظف"
        formControlName="name"
      ></app-input>
    </div>

    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-input
        labelText="رقم الموبايل"
        placeholder="أدخل رقم الموبايل"
        formControlName="phone"
      ></app-input>
    </div>

    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-dropdown
        labelText="الدور الوظيفي"
        formControlName="role"
        [options]="workerTypeOptions"
        placeholder="اختر الدور الوظيفي"
      >
      </app-dropdown>
    </div>

    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-input
        labelText="المرتب"
        placeholder="أدخل المرتب"
        formControlName="salary"
        inputType="number"
      ></app-input>
    </div>
    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
        <app-input
          labelText="رصيد الأجازات"
          placeholder="أدخل رصيد الأجازات"
          formControlName="vacationDays"
          inputType="number"
        ></app-input>
      </div>

  </div>

  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? 'حفظ' : 'إضافة' }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض الموظفين"
></app-success-dialog>
