label {
  @apply xl:text-[18px] lg:text-[16px] text-[14px];
  color: var(--primary);
}
.dropdownContainer {
  border: 1px solid var(--gray);
  border-radius: 4px;
  background-color: var(--main-white);
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 15px;
    left: 16px;
  }
}

:host ::ng-deep .p-inputwrapper {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

::ng-deep .p-dropdown-header {
  .p-dropdown-filter-container {
    position: relative;
    input {
      padding-right: 5px;
      border: 1px solid var(--gray);
      &:focus {
        box-shadow: none;
      }
    }
  }
}
:host ::ng-deep .p-icon-wrapper {
  display: none;
}

:host ::ng-deep .p-dropdown-label,
.p-inputtext {
  color: var(--main-gray);
}

:host ::ng-deep .p-inputtext {
  color: var(--main-black);
}

:host ::ng-deep .p-placeholder {
  color: var(--main-gray) !important;
}

:host ::ng-deep .p-dropdown:disabled .p-dropdown-label {
  opacity: 0.8;
}


@media (min-width:1480px) and (max-width: 1542px) {
  :host ::ng-deep .p-placeholder {
    font-size: 14px;
  }
}