<div class="">
  <label *ngIf="showLabel">{{ labelText }}</label>
  <span class="text-red-500" *ngIf="!control.value&&isRequired&&showLabel">*</span>
  <br *ngIf="showLabel"/>

  <div class="dropdownContainer mt-2" [ngClass]="disabled?'disabled':''">
    <p-dropdown
      [formControl]="control"
      [options]="options"
      optionLabel="name"
      optionValue="id"
      [readonly]="disabled"
      (onChange)="onChange($event)"
      (onFilter)="onSearch($event)"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      [placeholder]="placeholder"
      [emptyMessage]="emptyMessage"
      appendTo="body"
      #dropdown
    />

      <img class="cursor-pointer" (click)="open()" src="assets/images/arrow down.svg" alt="arrow down" />
  </div>

  <small class="text-red-500" *ngIf="errMsg || controlValidation">
    {{ errMsg || "هذا الحقل مطلوب " }}
  </small>
</div>
