<div>
  <label *ngIf="showLabel">{{ labelText }}</label>
  <span
    class="text-red-500"
    *ngIf="(whiteSpaceError || !control.value) && isRequired"
    >*</span
  >
  <br />
  <div class="inputContainer mt-2">
    <input
      [formControl]="control"
      [type]="passwordShow?'text':'password'"
      [readonly]="disabled"
      [placeholder]="placeholder"

    />
    <span class="icon">
      <i
        class="pi pi-eye cursor-pointer"
        style="font-size: 1.4rem; color: var(--secondary)"
        (click)="showingPassword()"
        *ngIf="passwordShow"
      ></i>
      <i
        class="pi pi-eye-slash cursor-pointer"
        style="font-size: 1.4rem; color: var(--secondary)"
        (click)="showingPassword()"
        *ngIf="!passwordShow"
      ></i>
    </span>
  </div>

  <small class="text-red-500" *ngIf="errMsg || controlValidation">
    {{ errMsg || "هذا الحقل مطلوب " }}
  </small>
</div>
