::placeholder {
    color: var(--main-gray);
    padding-bottom:5px;
    font-size: 18px;
    font-weight: 500;
  }
  label {
    @apply xl:text-[18px] lg:text-[16px] text-[14px];
    color: var(--primary);
    font-weight: 400;
  }
  .inputContainer {
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: var(--main-white);
    width: 100%;
    position: relative;
    input {
      @apply py-3 pr-2;
      border: none;
      background-color: transparent;
      width: 87%;
      color: var(--main-black);
      &:read-only {
        opacity: 0.6;
      }
      &:focus
      {
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }
  .icon {
    background-color: #ffffff;
    color: var(--main-gray);
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 3px;
    top: 11px;
    display: flex;
    width: 59px;
    justify-content: center;
  }
