.header {
    button {
      color: var(--main-gray);
    }
    button:last-child {
        color: var(--primary);
    }
  }

  @media (max-width: 1024px) {
    button {
      font-size: 14px;
    }
  }