button {
    @apply py-2 px-4;
    background-color: var(--error);
    color: var(--main-white);
    border: none;
    border-radius: 8px;
  }
  .outlineBtn {
    background-color: var(--main-white);
    color: var(--error);
    border: 1px solid var(--error);
  }
  p {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-gray);
  }
  