<div class="grid grid-cols-12 items-center white min-h-screen">
  <div class="flex flex-col col-span-1"></div>
  <div class="col-span-7 p-8 pt-12 white">
    <div class="flex flex-col gap-12">
      <div class="flex">
        <img src="../../../../assets/images/loginLogo.svg" alt="login Logo" />
      </div>
      <div class="flex flex-col">
        <h1>إنشاء كلمة مرور جديدة</h1>
        <p>قم بإنشاء كلمة مرور جديدة مطابقة للشروط أدناه</p>
      </div>
    </div>

    <form [formGroup]="form" autocomplete="off">
      <div class="grid grid-cols-12 mb-2">
        <div
          class="flex flex-col 2xl:col-span-8 xl:col-span-8 lg:col-span-8 md:col-span-8 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-password-input
            labelText="كلمة المرور"
            formControlName="password"
            placeholder="أدخل كلمة المرور"
          >
          </app-password-input>
        </div>
      </div>

      <div class="grid grid-cols-12 mb-2">
        <div
          class="flex flex-col 2xl:col-span-8 xl:col-span-7 lg:col-span-8 md:col-span-8 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-password-input
            labelText="تأكيد كلمة المرور "
            formControlName="newPassword"
            placeholder="أدخل كلمة المرور مجددًا"
          >
          </app-password-input>
          <ul>
            <li [class]="hasMinLength ? 'match' : ''">
              <i class="pi pi-times-circle" style="font-size: 1.2rem" *ngIf="!hasMinLength"></i>
              <i class="pi pi-check-circle" style="font-size: 1.2rem" *ngIf="hasMinLength"></i>
              <p>يجب ألا تقل كلمة المرور عن8 خانات</p>
            </li>
            <li [class]="hasLettersAndNumbers ? 'match' : ''">
              <i class="pi pi-times-circle" style="font-size: 1.2rem" *ngIf="!hasLettersAndNumbers"></i>
              <i class="pi pi-check-circle" style="font-size: 1.2rem" *ngIf="hasLettersAndNumbers"></i>
              <p>يجب أن تحتوى على حروف وأرقام Aa123</p>
            </li>
            <li [class]="hasSpecialCharacter ? 'match' : ''">
              <i class="pi pi-times-circle" style="font-size: 1.2rem" *ngIf="!hasSpecialCharacter"></i>
              <i class="pi pi-check-circle" style="font-size: 1.2rem" *ngIf="hasSpecialCharacter"></i>
              <p>{{ "يجب أن تحتوى على علامات خاصة (@#/)" }}</p>
            </li>
            <li [class]="isMatched ? 'match' : ''">
                <i class="pi pi-times-circle" style="font-size: 1.2rem" *ngIf="!isMatched"></i>
                <i class="pi pi-check-circle" style="font-size: 1.2rem" *ngIf="isMatched"></i>
                <p>يجب أن تكون كلمة المرور متطابقة</p>
              </li>
          </ul>
        </div>
      </div>
    </form>

    <div class="grid grid-cols-12 mb-2">
      <div
        class="flex flex-col 2xl:col-span-8 xl:col-span-8 lg:col-span-8 md:col-span-8 col-span-12 2xl:mt-7 md:mt-2"
      >
        <button (click)="resetPassword()" [disabled]="form.invalid||!isMatched">
          تعيين كلمة المرور
        </button>
      </div>
    </div>
  </div>
  <div class="left col-span-4 min-h-screen"></div>
</div>
