div {
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
    display: block;
  }

  p {
    color: var(--main-gray);
    font-size: 18px;
    display: block;
  }
}
button {
  @apply py-2 px-5;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--main-white);
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
.left {
  background-image: url("../../../../assets/images/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.white {
  background-color: var(--main-white);
}

ul {
  all: unset;
  @apply mt-6;
  li {
    @apply flex items-center gap-2 mb-1;
    color: var(--main-gray);
    font-size: 16px;
  }
}
.match {
  color:var(--secondary) !important;
  p {
    color: var(--secondary) !important;
  }
}
