<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h1>الملخص اليومي</h1>
    <form [formGroup]="form">
      <div class="lg:flex gap-2 items-center grid-cols-2">
        <div class="lg:w-[320px] w-[220px]">
          <app-dropdown
            [showLabel]="false"
            formControlName="cycleId"
            placeholder="اختر الدورة"
            [options]="cycleOptions"
            [isRequired]="false"
            (change)="getPage();searchMode=true"
          ></app-dropdown>
        </div>
        <div class="lg:w-[320px] w-[220px]">
          <app-date-input
            [isRange]="true"
            [isRequired]="false"
            [clear]="true"
            formControlName="date"
            [hideLabel]="true"
            placeholder="اختر التاريخ من-إلى"
            (change)="getPage()"
            [showClear]="true"
          ></app-date-input>
        </div>
      </div>
    </form>
  </div>

  <app-list
    [listColumns]="columns"
    [pageResult]="pageResult"
    (pageChange)="onPageChanged($event)"
    (delete)="delete($event)"
    [searchMode]="searchMode"
    (back)="resetSearch()"
    noDataImg="nodepartments.svg"
    noDataMessage="لا توجد بيانات"
    nosearchBtnText="العودة إلى الملخص اليومي"
    [withAction]="false"
  ></app-list>
</div>
