<p-dialog
  [modal]="true"
  [closable]="false"
  [(visible)]="visible"
  [style]="{ width: '55vw', height: '110vh',margin:'-1px' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  position="topright"
  [draggable]="false"
>

<div class="flex justify-between">
    <h1>تصفية الموظفين</h1>
    <span>
        <i class="fa-solid fa-xmark fa-xl" style="color:var(--main-gray)" (click)="close()"></i>
    </span>
</div>

<hr class="-mx-6 my-3">
  <form [formGroup]="filterForm" autocomplete="off">
    <app-collaps
      title="الملف الوظيفي"
      icon="paper.svg"
      activeIcon="green paper.svg"
      collapseId="jobFile"
      [isToggled]="toggeledCollapse === 'jobFile'"
    >
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="رقم الملف"
            formControlName="fileId"
            inputType="number"
            placeholder="أدخل رقم الملف"
            [isRequired]="false"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-dropdown
            labelText="الترتيب حسب"
            formControlName="sortBy"
            [options]="sortByOptions"
            placeholder="اختر طريقة الترتيب"
            [isRequired]="false"
          >
          </app-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-dropdown
            labelText="نوع الترتيب"
            formControlName="sortingDirection"
            [options]="SortingDirectionOptions"
            placeholder="اختر نوع الترتيب"
            [isRequired]="false"
          >
          </app-dropdown>
        </div>
      </div>
    </app-collaps>
    <app-collaps
      title="بيانات الموظف"
      icon="grayUserIcon.svg"
      activeIcon="activeUserIcon.svg"
      collapseId="employeeData"
      [isToggled]="toggeledCollapse === 'employeeData'"
    >
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="الاسم الأول"
            formControlName="firstName"
            placeholder="أدخل الاسم الأول"
            [isRequired]="false"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="الاسم الثاني"
            formControlName="secondName"
            placeholder="أدخل الاسم الثاني"
            [isRequired]="false"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="الاسم الثالث "
            formControlName="thirdName"
            placeholder="أدخل الاسم الثالث"
            [isRequired]="false"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="الاسم الرابع "
            formControlName="forthName"
            placeholder="أدخل الاسم الرابع"
            [isRequired]="false"
          >
          </app-input>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="النوع"
            formControlName="employeeTypeIds"
            [options]="employmentTypesOptions"
            placeholder="اختر النوع"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>

        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="الوضع الراهن"
            formControlName="currentStatusIds"
            [options]="currentStatusOptions"
            placeholder="اختر الوضع الراهن"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="الجنسية"
            formControlName="nationalityIds"
            [options]="nationalityOptions"
            placeholder="اختر الجنسية"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="الجنس"
            formControlName="genderIds"
            [options]="genderOptions"
            placeholder="اختر الجنس"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-6 xl:col-span-4 lg:col-span-6 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الميلاد من:"
            formControlName="fromBirthDate"
            placeholder="اختر تاريخ الميلاد من:"
            id="fromBirthDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-6 xl:col-span-4 lg:col-span-6 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الميلاد إلى:"
            formControlName="toBirthDate"
            placeholder="اختر تاريخ الميلاد إلى:"
            id="toBirthDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
      </div>
    </app-collaps>

    <app-collaps
      title="بطاقة الأحوال"
      icon="grayCardIcon.svg"
      activeIcon="activeCardIcon.svg"
      collapseId="cardData"
      [isToggled]="toggeledCollapse === 'cardData'"
    >
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="رقم الحفيظة"
            formControlName="recordId"
            placeholder="أدخل رقم الحفيظة"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="رقم بطاقة الأحوال"
            formControlName="nationalId"
            placeholder="أدخل رقم البطاقة "
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="مكان الإصدار"
            formControlName="releasePlaces"
            [options]="releasePlacesOptions"
            placeholder="اختر مكان الإصدار"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الإصدار من:"
            formControlName="fromReleaseDate"
            placeholder="اختر تاريخ الإصدار إلى:"
            id="fromReleaseDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الإصدار إلى:"
            formControlName="toReleaseDate"
            placeholder="اختر تاريخ الإصدار إلى:"
            id="toReleaseDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الالتحاق بالدولة من:"
            formControlName="fromCountryJoiningDate"
            placeholder="اختر تاريخ الالتحاق"
            id="fromCountryJoiningDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ الالتحاق بالدولة إلى:"
            formControlName="toCountryJoiningDate"
            placeholder="اختر تاريخ الالتحاق"
            id="toCountryJoiningDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ إنهاء الخدمة من:"
            formControlName="fromRetirementDate"
            placeholder="اختر تاريخ الإنهاء "
            id="fromRetirementDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ إنهاء الخدمة إلى:"
            formControlName="toRetirementDate"
            placeholder="اختر تاريخ الإنهاء "
            id="toRetirementDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
      </div>
    </app-collaps>

    <app-collaps
      title="السجل الوظيفي"
      icon="bag.svg"
      activeIcon="green bag.svg"
      collapseId="employeeRecord"
      [isToggled]="toggeledCollapse === 'employeeRecord'"
    >
      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="جهة العمل"
            formControlName="departmentIds"
            [options]="departmentsOptions"
            placeholder="اختر جهة العمل"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="الوظيفة "
            formControlName="jobName"
            placeholder="أدخل الوظيفة"
            [isRequired]="false"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="رقم الوظيفة من:"
            formControlName="fromJobNumber"
            placeholder="أدخل رقم الوظيفة من:"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="رقم الوظيفة إلى:"
            formControlName="toJobNumber"
            placeholder="أدخل رقم الوظيفة إلى:"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="المرتبة"
            formControlName="ranks"
            [options]="ranksOptions"
            placeholder="اختر المرتبة"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-multi-select-dropdown
            labelText="الدرجة"
            formControlName="grades"
            [options]="gradesOptions"
            placeholder="اختر الدرجة"
            [isRequired]="false"
          >
          </app-multi-select-dropdown>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ التعيين من:"
            formControlName="fromEmploymentDate"
            placeholder="اختر تاريخ التعيين"
            id="fromDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-date-input
            labelText="تاريخ التعيين إلى:"
            formControlName="toEmploymentDate"
            placeholder="اختر تاريخ التعيين"
            id="toDate"
            [isRequired]="false"
          >
          </app-date-input>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText=" الراتب الأساسي من:"
            formControlName="fromNetSalary"
            placeholder="أدخل الراتب الأساسي"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText=" الراتب الأساسي إلى:"
            formControlName="toNetSalary"
            placeholder="أدخل الراتب الأساسي"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="بدل النقل من:"
            formControlName="fromTransferAllowance"
            placeholder="أدخل بدل النقل من:"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
        <div
          class="inputContainer flex flex-col 2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
        >
          <app-input
            labelText="بدل النقل إلى:"
            formControlName="toTransferAllowance"
            placeholder="أدخل بدل النقل إلى:"
            [isRequired]="false"
            inputType="number"
          >
          </app-input>
        </div>
      </div>
    </app-collaps>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <button class="btn" (click)="submitFilter()">
          تصفية البحث
        </button>
        <button class="btn outlineBtn" (click)="reset()">إعادة الضبط</button>
    </div>
  </ng-template>
</p-dialog>

