@media (min-width: 1200px) and (max-width: 1480px) {
  .inputContainer {
    @apply col-span-5;
  }
}
h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}

:host ::ng-deep .p-dialog-header {
  @apply pt-1;
}
:host ::ng-deep .p-dialog {
 max-height: 100%;
}
button {
    @apply py-2 px-5;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--main-white);
    &:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }
  .outlineBtn {
    background-color: var(--main-white);
    color: var(--primary);
    border: 1px solid var(--primary);
  }