<form [formGroup]="form" autocomplete="off">
  <div class="card mb-8">
    <h1>المؤهلات</h1>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-dropdown
          labelText="نوع المؤهل"
          formControlName="typeId"
          [options]="qualificationTypeOptions"
          placeholder="اختر نوع المؤهل"
        >
        </app-dropdown>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="مسمى المؤهل "
          formControlName="name"
          placeholder="أدخل مسمى المؤهل"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="التخصص "
          formControlName="major"
          placeholder="أدخل التخصص "
        >
        </app-input>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الدرجة"
          formControlName="grade"
          placeholder="أدخل الدرجة"
          inputType="number"
          [isRequired]="false"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="المدة"
          formControlName="duration"
          placeholder=" أدخل المدة"
          inputType="number"
          [isRequired]="false"
          [selectUnit]="true"
          (unitChange)="setDurationUnit($event)"

        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-date-input
          labelText="سنة الحصول على المؤهل"
          formControlName="year"
          placeholder="اختر سنة الحصول علي المؤهل"
          id="year"
        >
        </app-date-input>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-4">
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الجهة"
          [isRequired]="false"
          formControlName="authority"
          placeholder="أدخل الجهة"
        >
        </app-input>
      </div>
      <div
        class="flex flex-col 2xl:col-span-4 xl:col-span-4 lg:col-span-4 md:col-span-6 col-span-12 2xl:mt-7 md:mt-2"
      >
        <app-input
          labelText="الجامعة/ المعهد"
          [isRequired]="false"
          formControlName="institution"
          placeholder="أدخل الجامعة/المعهد"
        >
        </app-input>
      </div>
    </div>
    <div class="flex justify-end">
      <button (click)="onSave()" [disabled]="form.invalid">{{editMode?'حفظ':'إضافة'}}</button>
    </div>
    <div class="grid grid-cols-12">
      <div class="flex flex-col col-span-12 2xl:mt-7 md:mt-2">
        <app-list
          [listColumns]="listColumns"
          [pageResult]="pageResult"
          [hasBorder]="true"
          [hasPagination]="false"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          [displayEmptyList]="true"
        ></app-list>
      </div>
    </div>
  </div>
</form>
