<h1>السُّلف</h1>
<div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <app-bread-crumb [pages]="pages"></app-bread-crumb>
      <div class="flex gap-3" *ngIf="pageResult.items?.length! > 0">
        <button class="submitBtn" (click)="addNew()">إضافة سُلفة</button>
      </div>
    </div>
  
    <app-list
      [listColumns]="columns"
      [pageResult]="pageResult"
      (pageChange)="onPageChanged($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (add)="addNew()"
      [searchMode]="searchMode"
      (back)="resetSearch()"
      noDataImg="nodepartments.svg"
      noDataMessage=" أنك لم تقم بإضافة أي طلب سُلفة ، ستظهر السُّلف المضافة هنا... يمكنك البدء بإضافة أول طلب سُلفة "
      addButtonText="إضافة سُلفة"
      nosearchBtnText="العودة إلى السُّلف"
      [hasPagination]="false"
      [withAction]="false"

    ></app-list>
  </div>
  
  <p-dialog
    header=""
    [modal]="true"
    [(visible)]="showForm"
    [closable]="false"
    [style]="{ width: '25vw' }"
    [breakpoints]="{ '960px': '80vw' }"
  >
    <div class="title">
      {{ editMode ? "تعديل السُلفة" : "إضافة سُلفة" }}
    </div>
    <form [formGroup]="form">
      <div class="grid grid-cols-12 mt-5">
        <div class="col-span-12">
          <app-input
            labelText="قيمة السُلفة"
            placeholder="ادخل قيمة السُلفة"
            formControlName="amount"
            inputType="number"
          ></app-input>
        </div>
        <div class="col-span-12">
          <app-date-input
            labelText="تاريخ السُلفة"
            placeholder="أدخل تاريخ السُلفة"
            formControlName="date"
          ></app-date-input>
        </div>
      </div>
    </form>
  
    <div class="flex justify-center gap-3 mt-5">
      <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
        {{ editMode ? "حفظ" : "إضافة" }}
      </button>
      <button class="exitBtn" (click)="showForm = false">إلغاء</button>
    </div>
  </p-dialog>
  
  <app-confirmation-delete-dialog
    message="هل أنت متأكد أنك تريد حذف السُلفة؟ سيتم حذفها نهائيًا من قائمة السُّلف"
    [visible]="showConfirmDeleteDialog"
    (onSubmitEvent)="submitDelete()"
    (exit)="close()"
  ></app-confirmation-delete-dialog>
  
  <app-success-dialog
    [visible]="showSuccessDialog"
    (onSubmitEvent)="backToList()"
    [message]="successMesg"
    btnText="عرض السُّلف"
  ></app-success-dialog>
  
  <app-confirmation-dialog
    [visible]="showWarnningDialog"
    (onSubmitEvent)="close()"
    (exit)="back()"
  >
  </app-confirmation-dialog>
  