<div class="grid grid-cols-12 items-center white min-h-screen">
  <div class="flex flex-col col-span-1"></div>
  <div class="col-span-6 p-8 pt-12 white">
    <div class="flex flex-col gap-12">
      <div class="flex">
        <img src="../../../../assets/images/logo.png" width="300" height="300" alt="login Logo" />
      </div>
      <div class="flex flex-col">
        <h1>هل نسيت كلمة المرور؟</h1>
        <p>أدخل بريدك الإلكتروني كي تتسلم كود لإعادة تعيين كلمة المرور</p>
      </div>
    </div>

    <form [formGroup]="form" autocomplete="off">
      <div class="grid grid-cols-12 mb-2">
        <div
          class="flex flex-col 2xl:col-span-8 xl:col-span-8 lg:col-span-8 md:col-span-8 col-span-12 2xl:mt-7 md:mt-2"
        >
        <app-input
        labelText=" البريد الإلكتروني"
        formControlName="email"
        inputType="email"
        placeholder="أدخل البريد الإلكتروني"
        [errMsg]="saveClicked&&form.get('email')?.errors?.['email']?' يجب ادخال البريد الالكتروني بشكل صحيح':''"
      >
      </app-input>
      <small  *ngIf="errMsg">
        <img
          src="../../../../assets/images/errorIcon.svg"
          alt="error icon"
        />
        <p>{{ errMsg }}</p>
      </small>
      <small *ngIf="success"  class="success">
        <i class="pi pi-check-circle" style="font-size: 1.3rem"></i>
        <p>يرجى التحقق من بريدك الإلكتروني لمتابعة الإجراءات اللازمة.</p>
      </small>
        </div>
      </div>
    </form>

    <div class="grid grid-cols-12 mb-2">
      <div
        class="flex flex-col 2xl:col-span-8 xl:col-span-8 lg:col-span-8 md:col-span-8 col-span-12 2xl:mt-7 md:mt-2"
      >
        <button (click)="sendCode()" [disabled]="form.invalid" [disabled]="loading">
            إرسال كود التحقق
            <i class="pi pi-spin pi-spinner mr-1" style="font-size: 1.2rem" *ngIf="loading"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="left col-span-5 min-h-screen"></div>
</div>
