div {
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
    display: block;
  }

  p {
    color: var(--main-gray);
    font-size: 18px;
    display: block;
  }
}
button {
  @apply py-2 px-5;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--main-white);
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
.left {
  background-image: url("../../../../assets/images/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.white {
  background-color: var(--main-white);
}

a {
  @apply mt-1;
  all: unset;
  color: var(--secondary);
  cursor: pointer;
  text-align: end;
}
small {
  @apply flex justify-start  items-center gap-2 mt-6;
  p {
    color: var(--error);
    font-size: 14px;
  }
}

.success{
  color: var(--success);
  p {
    color: var(--success);
    font-size: 14px;
  }
}