<h1>تسجيل بيانات إنتاج البيض</h1>
<app-bread-crumb [pages]="pages"></app-bread-crumb>

<form [formGroup]="form" class="card">
  <div class="grid grid-cols-12 gap-3">
    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-dropdown
        labelText="الدورة"
        formControlName="cycleId"
        [options]="cycleOptions"
        placeholder="اختر الدورة"
        (change)="getBarn($event)"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-dropdown
        labelText="العنبر"
        formControlName="barnId"
        [options]="roomOptions"
        placeholder="اختر العنبر"
        [disabled]="true"
      >
      </app-dropdown>
    </div>
    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-input
        labelText="عدد الأطباق"
        placeholder="أدخل عدد الأطباق"
        formControlName="cartonsCount"
        inputType="number"
      ></app-input>
    </div>
    <div class="2xl:col-span-6 xl:col-span-6 lg:col-span-6 col-span-12">
      <app-date-input
        labelText=" التاريخ "
        formControlName="date"
        placeholder="حدد  التاريخ "
        id="date"
      >
      </app-date-input>
    </div>

    <div class="col-span-12 flex flex-col gap-2">
      <label>ملاحظات</label>
      <textarea
        placeholder="ملاحظات"
        cols="12"
        rows="3"
        formControlName="notes"
      ></textarea>
    </div>
    <div class="lg:col-span-8 col-span-12">
      <p-table     [value]="[
      { property1: 'Value 1A', property2: 'Value 1B', property3: 'Value 1C' }
    ]">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>جودة البيض</th>
            <th>عدد الكرتونات</th>
            <th></th>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="body" let-row let-i="index" formArrayName="details">
          <tr [formGroupName]="i" *ngFor="let target of Details.controls; let i = index">
            <td>{{ i + 1 }}</td>
      
            <!-- جودة البيض -->
            <td>
              <app-dropdown
                [options]="getAvailableEggQualities(i)"
                placeholder="اختر جودة البيض"
                formControlName="eggQuality"
                [showLabel]="false"
                [isRequired]="false"
              ></app-dropdown>
            </td>
      
            <!-- عدد الكرتونات -->
            <td>
              <app-input
                type="number"
                placeholder="ادخل عدد الكرتونات"
                formControlName="cartonsCount"
                (keydown)="restrictNagtive($event)"
                [showLabel]="false"
                [isRequired]="false"

              ></app-input>
            </td>
      
            <!-- أزرار إضافة/حذف -->
            <td>
              <button (click)="deleteDetailRow(i)" class="add">
                <i class="pi pi-minus"></i>
              </button>
              <button
                (click)="addDetailRow()"
                class="add flex items-center"
                [disabled]="
                  isCurrentDetailRowInvalid() ||
                  Details.length >= eggQualityOptions.length
                "
              >
                <i class="pi pi-plus"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

  <div class="flex justify-end gap-4 mt-5">
    <button class="submitBtn" (click)="save()" [disabled]="form.invalid">
      {{ editMode ? "حفظ" : "إضافة" }}
    </button>
    <button class="exitBtn" (click)="backToList()">إلغاء</button>
  </div>
</form>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض الدورات"
></app-success-dialog>
