<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h1>عمليات مخزن الأصول</h1>

    <div class="flex gap-3" *ngIf="pageResult.items?.length! > 0">
      <button class="submitBtn" (click)="withdraw()">إضافة إلى المخزن</button>
      <button class="submitBtn" (click)="deposit()">صرف من المخزن</button>
    </div>
  </div>

  <app-list
    [listColumns]="columns"
    [pageResult]="pageResult"
    (pageChange)="onPageChanged($event)"
    [searchMode]="searchMode"
    (back)="resetSearch()"
    noDataImg="nodepartments.svg"
    [noDataMessage]="
      'يبدو أنك لم تقم بإضافة عمليات المخزن بعد، يمكنك البدء بإضافة عمليات المخزن'
    "
    nosearchBtnText="العودة إلى عمليات مخزن الأصول"
    [hasSecondBtn]="true"
    secondButtonText="صرف من المخزن"
    addButtonText="إضافة إلى المخزن"
    (secondBtnEvent)="deposit()"
    (add)="withdraw()"
    [hasPagination]="false"
    [withAction]="false"
  ></app-list>
</div>

<p-dialog
  header=""
  [modal]="true"
  [(visible)]="showForm"
  [closable]="false"
  [style]="{ width: '25vw' }"
  [breakpoints]="{ '960px': '80vw' }"
>
  <div class="title">
    {{ isWithdraw ? "إضافة أصل من العنبر للمخزن" : "صرف أصل من المخزن للعنبر" }}
  </div>
  <form [formGroup]="form">
    <div class="grid grid-cols-12 mt-5">
      <div class="col-span-12">
        <div class="col-span-12">
          <app-dropdown
            labelText="اسم الأصل"
            placeholder="أدخل الأصل"
            formControlName="assetWarehouseItemId"
            [options]="warehouseAssetItemsOptions"
          ></app-dropdown>
        </div>
      </div>

      <div class="col-span-12">
        <app-dropdown
          labelText="العنبر"
          placeholder="أدخل العنبر"
          formControlName="barnId"
          [options]="barnsOptions"
        ></app-dropdown>
      </div>
      <div class="col-span-12">
        <app-input
          labelText="العدد"
          placeholder="أدخل عدد الأصل"
          formControlName="quantity"
        ></app-input>
      </div>
      <div class="col-span-12">
        <app-date-input
          labelText="التاريخ"
          placeholder="أدخل التاريخ"
          formControlName="date"
        ></app-date-input>
      </div>
    </div>
  </form>

  <div class="flex justify-center gap-3 mt-5">
    <button class="submitBtn" [disabled]="form.invalid" (click)="submitTransaction()">
      {{ isWithdraw ? "إضافة" : "صرف" }}
    </button>
    <button class="exitBtn" (click)="showForm = false">إلغاء</button>
  </div>
</p-dialog>

<app-success-dialog
  [visible]="showSuccessDialog"
  (onSubmitEvent)="backToList()"
  [message]="successMesg"
  btnText="عرض عمليات المخزن"
></app-success-dialog>

<app-confirmation-dialog
  [visible]="showWarnningDialog"
  (onSubmitEvent)="close()"
  (exit)="back()"
>
</app-confirmation-dialog>
