/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
  font-family: "Almarai";
  src: url("assets/fonts/almarai/Almarai-Regular.ttf");
}
:root {
  --primary: #5E8B3D;
  --secondary: #B4442C;
  --secondary-light: #16968C1A;
  --success: #04A777;
  --warning:#FB8B24;
  --error:#EF3A30;
  --active-sidebar-item: #f7f7f7;
  --main-gray: #797f8f;
  --gray:#797f8f66;
  --main-white: #ffffff;
  --main-black:#231f20;
}

* {
  direction: rtl;
  font-family: "Almarai";
}
body {
  background-color: #f5f5f5;
  direction: rtl;
}

.card
{
  @apply py-5 px-3;
  background-color: var(--main-white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}
.submitBtn {
  background-color: var(--primary);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-white);
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
.exitBtn {
  padding: 6px 14px;
  border-radius: 8px;
  background-color: var(--main-white);
  color: var(--primary);
  border: 1px solid var(--primary);
}
.title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
}
textarea {
  @apply py-3 pr-2;
  border: 1px solid var(--gray);
  border-radius: 4px;
}