.navContainer {
  background-color: var(--main-white);
  border-radius: 8px;
  padding: 12px 16px;
  .notification {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    img {
      border-radius: 50%;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--main-black);
  }
}


.options {
  display: flex;
  flex-direction: column;
  padding: 5px 12px;
  .labelText {
    font-size: 18px;
    color: #797f8f;
    font-weight: 500;
  }
}
::ng-deep .p-overlaypanel-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

::ng-deep .p-overlaypanel {
  margin-top: 20px !important;
}